html,body,#app{
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: 0.14rem;
    background: #f2f2f2;
}
p,ul,li,ol,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
img {
    padding: 0; margin: 0;
    border: none;
    vertical-align: middle;
}